<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.raistudies.persistence.UserMapper">

	<resultMap id="result" type="com.raistudies.domain.User">
		<result property="id" column="user_id" />
		<result property="name" column="username" />
		<result property="standard" column="standard" />
		<result property="age" column="age" />
		<result property="sex" column="sex" />
	</resultMap>

	<select id="getAllUser" parameterType="int" resultMap="result">
		select user_id,username from users
	</select>
	<select id="getUserRole" parameterType="int" resultType="com.raistudies.domain.UserRoles">
		select user_id id,authority userRole from user_roles
	</select>
</mapper>